<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ducban.deptrai.comot.khonghai.projectandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_manhinh"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".HelloActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".DungActivity" />
        <activity android:name=".HuongDanActivity" />
        <activity android:name=".SaiActivity" />
        <activity android:name=".ChoiActivity" />
        <activity android:name=".ChooseTypeActivity" />
        <activity android:name=".DiemCaoActivity" />
        <activity android:name=".HetTimeActivity"></activity>
    </application>

</manifest>